.Notification-bell {
  position: relative;

  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 1;
}
.Notification-badge {
  position: absolute;
  top: -2px;
  right: -8px;
  z-index: 50;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}
